name: example
description: A new Flutter project.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  fast_charts:
    path: ../
  flutter:
    sdk: flutter
  flutter_colorpicker: ^1.0.3
  intl: ^0.18.1

dev_dependencies:
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
